* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*********HEADER SECTION*******************/
#logo {
    display: flex;
    justify-content: center;
}
#hamburger{
    display:none;
}
#nav-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    border-top: 2px solid black;
    cursor: pointer;
}

#nav-links li {
    list-style: none;
    padding: 15px 0;
}

.dropdown {
    position: absolute;
    z-index: 1;
    background-color: white;
    padding: 0 20px 0 10px;
    display: none;
}

li:hover .dropdown {
    display: block;
    cursor: pointer;
}

/* .menu-icon::before {
    content: "\2630";
    font-size: 70px;
    cursor: pointer;
    display: none;
} */

/*****************MAIN SECTION******************/
main {
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.main-bg-image {
    position: relative;
}

.main-bg-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.image-text {
    position: absolute;
    z-index: 1;
    color: white;
    bottom: 0;
    text-align: center;
    padding-bottom: 20px;
}

.image-text h2 {
    font-size: 35px;
}

/**************ARTICLE SECTION*****************/
article {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#introduction {
    width: 60%;
    padding: 40px 0;
    text-align: justify;
}

form {
    width: 60%;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 95%;
    padding: 5px 5px;
    margin: 7px 0 15px 0;
}

select {
    width: 97%;
    padding: 5px 5px;
    margin: 7px 0 15px 0;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border: none;
}

/**************Footer ***************/
footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(39, 37, 37);
    color: white;
    align-items: center;
    margin-top: 40px;
}

#listing {
    display: flex;
    width: 70%;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
}

#listing h5 {
    font-weight: 100;
    font-size: 17px;
    color: #b7b4b4;
    margin-bottom: 15px;
}

#listing li {
    margin-bottom: 10px;
}

.title {
    font-size: 15px;
    margin-bottom: 5px;
}

.date {
    font-size: 12px;
    font-style: italic;
}

#copyright {
    display: flex;
    width: 70%;
    justify-content: space-between;
    padding: 15px;
}

#copyright-text {
    font-size: 12px;
}

#footer-nav-link {
    display: flex;
    font-size: 12px;
    gap: 15px;
}

/*************CSS for Responsive Layout**************/
@media screen and (max-width : 700px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    #logo {
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }

    #logo img {
        height: 70px;
        width: 100px;
        padding: 0 0 0 35px;
    }

    .menu-icon {
        width: 50%;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
    }

    #hamburger {
        display: block;
        font-size: 45px;
        padding: 0 25px 0 0;
    }

    

    .menu-icon:hover + nav{
        display: block;
    }
    nav {
        display: none;
        width: 100%;
    }

    #nav-links {
        border: none;
        display: flex;
        flex-direction: column;
        padding: 0 0 15px 0;
    }

    #nav-links li {
        padding: 0 40px;
        font-size: 12px;
    }

    .dropdown li {
        margin: 0 -25px;
        padding: 5px 0 ;
    }
    .list3 , .list4{
        display: none;
    }
}